*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Josefin Sans', sans-serif;
	min-height: 100vh;
	background-image: url("../images/bg-pattern-desktop.svg");
	background-size: cover;
	background-position: center;
}

.wrapper {
	max-width: 1400px;
	margin: 0 auto;
}

.header {
	&__box{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__icon-box{
		align-self: flex-start;
		margin: 3em 2em;
	}

	&__main-image {
		width: 100%;
		max-width: 576px;
		max-height: 280px;
	}

	&__text-box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 3em 2em;
	}

	&__text-title {
		font-size: 3.5rem;
		font-weight: 300;
		color: hsl(0, 36%, 70%);
		text-transform: uppercase;
		letter-spacing: 3px;
	}

	&__text-title--darker{
		color: hsl(0, 6%, 24%);
		font-weight: 600;
	}

	&__text {
		font-size: 1.6rem;
		margin: 1em 0;
		text-align: center;
		color: hsl(0, 36%, 70%);
	}

	&__input-box {
		position: relative;
	}

	&__input {
		height: 30px;
		width: 300px;
		border-radius: 15px;
		text-indent: 10px;
		font-size: 12px;
		color: hsl(0, 6%, 24%);
		border: 1px solid hsl(0, 36%, 70%);
		&:focus{
			outline: none;
			border: 2px solid hsl(0, 46%, 50%);
		}
	}
	
	&__input-btn {
		position: absolute;
		right: 0;
		padding: 2.5px 20px;
		border-radius: 25px;
		border: 1px solid transparent;
		background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
		overflow: hidden;
		cursor: pointer;
		&:hover {
			background: hsl(0, 61%, 83%);
			box-shadow: -3px 5px 15px rgba(212, 38, 38, 0.3);
		}
	}

	&__input-validation {
		text-align: center;
		font-size: 1rem;
		margin-top: 1em;
		color: hsl(0, 46%, 50%);
	}
}

.color-succes {
	color: green;
}

.attribution {
	font-size: 11px;
	text-align: center;
	a {
		color: hsl(228, 45%, 44%);
	}
}



@media(min-width:576px){
	.header {
		&__box{
			display: grid;
			height: 100vh;
			grid-template-columns: 4fr 3fr;
			grid-template-rows: 1fr 5fr
		}

		&__icon-box{
			grid-column: 1/2;
			grid-row: 1/2;
			margin-left: 20%;
		}

		&__main-image {
			max-height: none;
			height: 100%;
			grid-column: 2/3;
			grid-row: 1/3;
		} 

		&__text-box {
			grid-column: 1/2;
			grid-row: 2/3;
			align-items: flex-start;
			margin-left: 20%;
			margin-top: -10%;
		}

		&__text-title{
			font-size: 4.8rem;
			letter-spacing: 10px;
			margin: .1em 0;
		}

		&__text{
			text-align: left;
			font-size: 1.8rem;
			max-width: 450px;
		}

		&__input-box {
			margin-top: 2em;
		}

		&__input {
			width: 250px;
		}


	}
}

@media(min-width: 1050px) {
	.header{
		&__input {
			height: 40px;
			width: 450px;
		}

		&__input-btn {
			right: -5px;
			height: 40px;
		}

	}
}
